<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">
  <h2>num1--> {{num1}}</h2>
  <h2>num2--> {{num2}}</h2>
  <!--1.数据的父传子  通过属性直接传递(并且进行双向绑定)-->
  <!--2.数据的子传父  通过父子方法的绑定，进行传值-->
  <!--@number1change="number1change" 隐式传递参数-->
  <cpn :number1="num1" :number2="num2" @number1change="number1change" @number2change="number2change"></cpn>
</div>
<template id="cpn">
  <!--必须有div包裹-->
  <div>
    <h2>number1--> {{number1}}</h2>
    <label>
      datanumber1--> {{datanumber1}}
      <input type="text" v-model="datanumber1">
    </label>
    <h2>number2--> {{number2}}</h2>
    <label>
      datanumber2--> {{datanumber2}}
      <input type="text" v-model="datanumber2">
    </label>
  </div>
</template>
<script src="../vue.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      message: '0',
      num1: 1,
      num2: 1
    },
    components: {
      cpn: {
        template: `#cpn`,
        // 传递给子组件的数据，子组件只能用来展示。父组件数据改变，子组件接受的数据也该变
        props: {
          number1: Number,
          number2: Number
        },
        data() {
          return {
            datanumber1: this.number1,
            datanumber2: this.number2,
          }
        },
        // 属性监听，属性的值，进行改变，会调用对应的函数
        watch: {
          datanumber1(newValue) {
            this.datanumber2 = newValue * 100;
            this.$emit('number1change', newValue);
          },
          datanumber2(newValue) {
            this.datanumber1 = newValue / 100;
            this.$emit('number2change', newValue);
          }
        }
      }
    },
    methods: {
      number1change(value) {
        console.log(value);
        this.num1 = parseFloat(value);
      },
      number2change(value) {
        this.num2 = parseFloat(value);
      }
    }

  });
</script>

</body>
</html>